@charset "UTF-8";

@import url('https://fonts.googleapis.com/css?family=Muli:300,400,700');
body {
  background-color: #000;
  height: 200vh;
  font-family: 'Muli', sans-serif;
}

.logocontainer {
  position: fixed;
  top: 18rem;
  left: 1.5rem;
  transform: translateY(-50%);
  list-style: none;
  border-bottom: 0;
}

.logocontainer li {
  display: inline-block;
  float: left;
  font-weight: 700;
  font-size: 4em;
  color: #fff;
  opacity: 1;
  transition: all 2s ease-in-out;
  max-width: 2em;
}

.logocontainer li.point {
    opacity: 0;
}

.logocontainer.hidden li.point {
    opacity: 1;
}

.logocontainer.hidden li.spaced {
  padding-left: 0;
}

.logocontainer li.spaced {
  padding-left: 0.5em;
}

.logocontainer.hidden li.ghost {
  opacity: 0;
  max-width: 0;
}